<h1><%= @year %></h1>

<div class="row-fluid" style="margin-bottom: 20px;">
  <% ["996633", "9999CC", "FFFF00", "666633", "99CCCC", "993333"].each do |color| %>
    <div class="span2">
      <div class="label-button label-<%= color %>" id="label-<%= color %>" style="background-color: #<%= color %>; width: 50%; float: left; padding: 5px 12px;">
        <% label_color = current_user && current_user.label_colors.where(color: color).first %>
        <div class="label-text">
          <%= label_color ? label_color.name : "Click <span class=\"icon-pencil\"></span> to Change".html_safe %>
        </div>
        <div class="label-form" style="display: none;">
          <%= form_tag "/updateLabel" do %>
            <%= text_field_tag :name, "", style: "width: 90%; padding: 0; margin-bottom: 0" %>
            <%= hidden_field_tag :color, color %>
          <% end %>
        </div>
      </div>
      <button type="button" class="btn label-edit" data-color="<%= color %>" style="margin-left: 10px;">
        <span class="icon-pencil"></span>
      </button>
    </div>
  <% end %>
</div>

<div class="row-fluid" style="margin-bottom: 20px;">
  <div class="span2">
    <button id="label-clear" class="btn" style="padding: 5px 12px; width: 50%;">
      Clear Selected
    </button>
  </div>
  <div class="span2">
    Click a date to select it.
  </div>
  <div class="span3">
    Click a date and then Shift+Click another to select a range of dates.
  </div>
  <div class="span2">
    Click a colored box to fill in selected dates.
  </div>
</div>

<table class="table table-bordered">
  <tr>
    <th></th>
    <% 0.upto(36).each do |i| %>
      <% td_text = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"][i%7] %>
      <th class="calendar-dow"><%= td_text %></th>
    <% end %>
  </tr>
  <% Date::ABBR_MONTHNAMES.each_with_index do |month, index| %>
    <% if month %>
      <tr>
        <th class="calendar-monthname"><%= month.upcase %></th>
        <% month_start = Date.new(@year, index, 1).wday - 1 %>
        <% month_start = 6 if month_start == -1 %>
        <% days_in_month = Time.days_in_month(index, @year) %>
        <% 0.upto(month_start - 1).each do |i| %>
          <td></td>
        <% end %>
        <% 1.upto(days_in_month).each do |i| %>
          <td class="calendar-day <%= @day_labels["#{@year}-#{index}-#{i}"] %>" id="day-<%= index %>-<%= i %>" data-month="<%= index %>" data-day="<%= i %>" data-year="<%= @year %>"><%= i %></td>
        <% end %>
        <% 0.upto(36 - days_in_month - month_start).each do |i| %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<p></p>
